#open
{
	background:url('../images/blue.png');
	border-radius:2px;
}
#remove
{
	background:url('../images/orange.png');
	border-radius:2px;
}
#save
{
	background:url('../images/blue.png');
	border-radius:2px;
}