#open
{
	border-radius:4px;
	font-family: 'Comic Sans';
	font-size: 15px;
}
#remove
{
	border-radius:4px;
	font-family: 'Comic Sans';
	font-size: 15px;
}
#save
{
	border-radius:4px;
	font-family: 'Comic Sans';
	font-size: 15px;
}