body
{
font-family:"Comic Sans MS", cursive, sans-serif;
margin: 0px;
padding: 0px;

}
#top_container {
  background:url('../images/bgrnd/mbpanel.jpg');
  padding: 10px;
  padding-bottom: 20px;
  
}
#bottom_container {
  background-color: white;
  padding: 5px;
  padding-top: 2px;
}
#saveForm
{
	font-size: 15px;
}
#open
{
	border-radius:4px;
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-size: 15px;
}
#openinco
{
	border-radius:4px;
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-size: 15px;
}
#save
{
	border-radius:4px;
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-size: 15px;
}
#impt
{
	border-radius:4px;
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-size: 15px;
}
#exp
{
	border-radius:4px;
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-size: 15px;
}

/*******************************************************************/

body {
  min-width: 357px;
  overflow-x: hidden;
}

img#loader_img {
  border: none;
  vertical-align: middle;
  margin-left: 80px;
}
p {
  display:inline;
}
#exportv {
  display:none;
}
#importv {
  display:none;
}
div.tab {
	padding-left: 30px;
}
div.session_menu {
  height: 40px;
  margin: 0 0 0 12;
  float: right;
}     

/*
input[type=text] {
	background: transparent;
	background: url('../images/Search-icon.png') no-repeat scroll right center #FFFFFF;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 0 0 5px #888;
	color: black;
	font-weight: bold;
	float: left;
	padding: 5px 27px 5px 10px;
	width: 220px;
	outline: none;
}
*/

/* CUSTOM SCROLLBAR USING CHROME-WEBKIT */

::-webkit-scrollbar              { /* 1 */ }
::-webkit-scrollbar-button       { /* 2 */ }
::-webkit-scrollbar-track        { /* 3 */ }
::-webkit-scrollbar-track-piece  { /* 4 */ }
::-webkit-scrollbar-thumb        { /* 5 */ }
::-webkit-scrollbar-corner       { /* 6 */ }
::-webkit-resizer                { /* 7 */ }

 ::-webkit-scrollbar-track-piece:start {
  /* Select the top half (or left half) or scrollbar track individually */
 }
 ::-webkit-scrollbar-thumb:window-inactive {
 /* Select the thumb when the browser window isn't in focus */
 }
 ::-webkit-scrollbar-button:horizontal:decrement:hover {

 /* Select the down or left scroll button when it's being hovered by the mouse */
 }

 ::-webkit-scrollbar {
     width: 10px;
 }
      
 ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 5px;
 }
               
::-webkit-scrollbar-thumb {
border-radius: 5px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4); 
}

